*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

}
@font-face {
    font-family: cynatar_o;
    src: url(../Parallax/Fonts/CyberwayRiders-lg97d.ttf);
    font_weights: 900;
}

body{
    background-color: black;
    color: aliceblue;
    font-family: cynatar_o, sans-serif;
    line-height: 1.55;
}
.main-header{
    position: relative;
}
.layers {
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
}
.main-article{
    min-height: 100vh;

}